/target/*
!/target/aarch64-linux-android
/target/aarch64-linux-android/*
!/target/aarch64-linux-android/release
/target/aarch64-linux-android/release/*
!/target/aarch64-linux-android/release/libpayload_dumper_rust.so
!/target/armv7-linux-androideabi
/target/armv7-linux-androideabi/*
!/target/armv7-linux-androideabi/release
/target/armv7-linux-androideabi/release/*
!/target/armv7-linux-androideabi/release/libpayload_dumper_rust.so
!/target/i686-linux-android
/target/i686-linux-android/*
!/target/i686-linux-android/release
/target/i686-linux-android/release/*
!/target/i686-linux-android/release/libpayload_dumper_rust.so
!/target/x86_64-linux-android
/target/x86_64-linux-android/*
!/target/x86_64-linux-android/release
/target/x86_64-linux-android/release/*
!/target/x86_64-linux-android/release/libpayload_dumper_rust.so
/ota
/out
